/* Le footer */
footer {
  background-color: #262626;
  height: 200px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
footer #footer-top {
  width: 80%;
  height: 150px;
  display: flex;
  flex-direction: row;
  text-align: center;
  margin: 0 10%;
}
footer #footer-top .presentation {
  width: 30%;
  padding: 10px;

}
footer #footer-top .presentation h3 {
  text-transform: uppercase;
  font-size: 1.5em;
  color: #2A89EB;
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
  letter-spacing: 2.5px;
}
footer #footer-top .views {
  width: 30%;
  padding: 10px;
}
footer #footer-top .views h4{
  text-transform: uppercase;
  font-size: 1.2em;
}
footer #footer-top .views ul{
  margin-top: 15px;
}
footer #footer-top .search {
  width: 40%;
  padding: 10px;
}

footer #footer-bottom {
  width: 100%;
  /* max-width: 1500px; */
  position: absolute;
  bottom: 0;
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  background-color: #212121;
  height: 50px;
  line-height: 50px;
}
footer #footer-bottom .social-network {
  display: block;
  width: 20%;
  min-width: 200px;
  margin-left: 40%;
}
footer #footer-bottom .social-network ul li{
  margin: 0 1.5%;
}
footer #footer-bottom .social-network ul li svg{
  width: 20px;
  height: 20px;
}

footer #footer-bottom ul{
  display: flex;
  flex-direction: row;
}
footer #footer-bottom ul li{
  margin: 0 2%;
}
footer #footer-bottom ul li a {
  /* text-transform: uppercase; */
  font-size: 1em;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}
footer #footer-bottom ul li a, footer #footer-bottom ul li a:visited {
  color: white;
}
footer #footer-bottom ul li a:hover {
  color: #73b3f2;
  cursor: pointer;
}
footer #footer-bottom ul li a:active {
  color: #2A89EB;
}
footer #footer-bottom .copyright {
  font-size: 0.75em;
  width: 60%;
  text-align: left;
}

/*footer logo holistwood*/
#anim-p-footer {
	text-transform: uppercase;
	letter-spacing: .5em;
	display: inline-block;
	padding: 1.5em 0em;
	position: relative;
	width: 40em;
	margin-left: 25px;
  text-align: center;
  font-size: 0.4em;
  margin-left: -29px;
}

#anim-span-footer {
  font: 3em "Orbitron", sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  /* padding: .25em 0 .325em; */
  display: block;
  margin: 0 auto;
  text-shadow: 0 0 80px rgba(255,255,255,.5);
 text-align: center;
/* Clip Background Image */

  background: url(../img/animated_text_fill.png) repeat-y;
  -webkit-background-clip: text;
  background-clip: text;

/* Animate Background Image */

  -webkit-text-fill-color: transparent;
  -webkit-animation: aitf 80s linear infinite;

/* Activate hardware acceleration for smoother animations */

  -webkit-transform: translate3d(0,0,0);
  -webkit-backface-visibility: hidden;

}

/* -le Responsive- */
@media (max-width: 835px) {



  footer {
    margin-top: -200px;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    position: relative;
    height: 700px;
  }
  footer #footer-top {
    height: 640px;
    display: flex;
    flex-direction: column;
  }
  footer #footer-top .presentation {
    width: 100%;
    height: 200px;
    border-right: none;
    margin-top: 50px;
  }
  footer #footer-top .views {
    margin-top: 35px;
    width: 100%;
    height: 200px;
  }
  footer #footer-top .search {
    width: 100%;
    height: 240px;
    border-left: none;
  }

  footer #footer-bottom {
    height: 60px;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  footer #footer-bottom .copyright {
    width: 100%;
    line-height: 25px;
    margin: 0;
  }
  footer #footer-bottom .copyright ul {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
  }
  footer #footer-bottom .social-network {
    width: 100%;
    line-height: 35px;
    margin: 0 auto;
  }
  footer #footer-bottom .social-network ul{
    width: 50%;
    margin: 0 auto;
    justify-content: center;
  }
  footer #footer-bottom .copyright ul li, footer #footer-bottom .social-network ul li{
    margin: 0 2%;
  }

}
