/* Le footer */
footer {
  background-color: #262626;
  height: 200px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

footer #footer-top, footer #footer-center {
  display: flex;
  flex-direction: row;
  border-bottom: 2.5px #2D2D2D solid;
  height: 50px;
  line-height: 50px;
}

footer #footer-top .contact-button {
  display: block;
  width: 20%;
  min-width: 200px;
  border-right: 2.5px #2D2D2D solid;
  text-align: center;
}
footer #footer-top .contact-button button {
  margin: 5px auto;
  background-color: #2A89EB;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  padding: 10px 10px;
  border-radius: 10px;
}
footer #footer-top .contact-button button a:visited {
  color: white;
}
footer #footer-top .center {
  display: block;
  width: 60%;
}
footer #footer-top .social-network {
  display: block;
  width: 20%;
  min-width: 200px;
  border-left: 2.5px #2D2D2D solid;
  margin: 10px 0;
}
footer #footer-top .social-network ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
footer #footer-top .social-network ul li{
  margin: 0 1.5%;
}
footer #footer-top .social-network ul li svg{
  width: 30px;
  height: 30px;
}

footer #footer-center {
  display: block;
}
footer #footer-center ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
footer #footer-center ul li{
  margin: 0 2%;
}
footer #footer-center ul li a {
  /* text-transform: uppercase; */
  font-size: 1em;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}
footer #footer-center ul li a, footer #footer-center ul li a:visited{
  color: white;
}
footer #footer-center ul li a:hover{
  color: #73b3f2;
  cursor: pointer;
}
footer #footer-center ul li a:active{
  color: #2A89EB;
}
footer #footer-center ul li a.active{
  color: #2A89EB;
}

footer #footer-bottom {
  display: block;
  text-align: center;
  background-color: #212121;
  height: 100px;
  line-height: 100px;
}

/* -le Responsive- */
@media (max-width: 835px) {

  footer #footer-top {
    display: flex;
    flex-direction: column-reverse;
  }
  footer #footer-top .center {
    display: none;
  }
  footer #footer-top .contact-button, footer #footer-top .social-network {
    width: 100%;
    height: 50px;
  }
  footer #footer-top .contact-button {
    justify-content: center;
    border-top: 2.5px #2D2D2D solid;
  }
  footer #footer-bottom {
    height: 50px;
    line-height: 50px;
  }

}
