


/* Le main et son contenu */
main {
  max-width: 1300px;
  margin: auto;
  height: 100%;
  padding-bottom: 250px;
}

#trailer {
  width: 70%;
  margin: 20px auto;
}
/* Submit movie */

#submitmovie form {
  width: 70%;
  background: #212121;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
#submitmovie form input[type="text"]{
  text-align: left;
  width: 100%;
  height: 30px;
  font-size: 1.2em;
  color:#fff;
  background-color: transparent;
  border: none;
  border-bottom: 1px white solid;
}
#submitmovie form input:focus {
  outline:  none;
  border-bottom: 2px #2A89EB solid;
}
#submitmovie form input[type="submit"] {
  margin: 20px auto 0;
  max-width: 100px;
  background-color: #2A89EB;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  padding: 15px 15px;
  border-radius: 10px;
}

#submitmovie nav ul {
  display: flex;
  text-align: center;
  margin-left: 10%;
  width: 70%
}
#submitmovie nav ul li {
  padding: 2%;
  background: #212121;
  margin: 20px 0 0 5%;
  width: 20%;
  min-width: 75px;
  height: auto;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 0;
}
#submitmovie nav ul li a {
  color: white;
}
#submitmovie nav ul li a.active {
  color: #5555FF;
}

/* Home */

.rwd-trailer {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.rwd-trailer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  border-radius: 5px;
}
.affiches {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.affiche {
  background-color: #212121;
  height: 360px;
  width: 300px;
  margin: 15px
}

.affiche img{
  height: 380px;
  width: 300px;
}



.affiche img:hover{
  opacity: 0.2;
  filter: alpha(opacity=50);
  transform: scale(1);
}

div.titre {
  text-align: center;
  background-color:#0b4075;
  width: 300px;
  height: 50px;
  margin: -8px;
  margin-left: 0px;
  border:2px solid #0b4075;
}

/* bandeaux */

.bandeau {
  background-color: #09335d;
  background-image: -webkit-linear-gradient(left, #663DB7, #09335d);
  background-image: -moz-linear-gradient(left, #663DB7, #09335d);
  background-image: -o-linear-gradient(left, #663DB7, #09335d);
  background-image: -ms-linear-gradient(left, #663DB7, #09335d);
  background-image: linear-gradient(left, #663DB7, #09335d);
  min-height: 70px;
  width: 100%;
  text-align: center;
  padding: 10px 0 10px 0;
  /* line-height: 70px; */
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bandeau h2{
  text-transform: uppercase;
  font-size: 2em;
  font-weight: bold;
  /* text-align: center; */
}

.bandeau-calendar h2{
  font-size: 1.2em;
}

.bandeau-calendar{
  margin-bottom: 20px;
}

.bandeau2 {
  /* background-color: #212121; */
  min-height: 70px;
  width: 97%;
  margin: 50px auto 0;
  text-align: center;
  padding: 10px 0 10px 0;
  /* line-height: 70px; */
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
}

.bandeau2 h2 {
  text-transform: uppercase;
  font-family: 'Orbitron';
  font-size: 1.5em;
  border-bottom: 3px solid white;
  color: white;
  border-radius: 10%;
  width: 50%;
  margin: auto;
  font-weight: bold;
}

.bandeau-trailer {
  background-color: #212121;
  text-transform: uppercase;
  font-family: 'Orbitron';
  font-size: 1.5em;
  height: 70px;
  text-align: center;
  line-height: 70px;
  font-weight: bold;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  border-radius: 5px;
}

/* ////////////////////////////////////////////////////////////////////////////////// */
/* Calendar styles */

.calendrier {
  width: 900px;
  margin: auto;
}

.calendrier .fc-unthemed td{
  border-color: black;
}

.calendrier .fc-unthemed th{
  border-color: black;
}

.calendrier th {
  background-color: #212121;
}

.calendrier td {
  background-color: #2d2d2d;
}

/* CASE D'AUJOURD'HUI */
.fc-unthemed td.fc-today {
    background-image: -webkit-linear-gradient(top, #663DB7, #3F3991);
    background-image: -moz-linear-gradient(top, #663DB7, #3F3991);
    background-image: -o-linear-gradient(top, #663DB7, #3F3991);
    background-image: -ms-linear-gradient(top, #663DB7, #3F3991);
    background-image: linear-gradient(top, #663DB7, #3F3991);
}

.calendrier .fc-button-group .fc-agendaWeek-button, .fc-agendaDay-button, .fc-today-button, .fc-month-button {
  display: none;
}

.calendrier .fc-button-group .fc-prev-button, .fc-next-button {
  /* background-color: #2983DF;  */
}

.calendrier .fc-center h2 {
  font-size: 1.5em;
}

.calendrier .fc-widget-content{
  /* background-color: #262626; */
}

.calendrier .fc-unthemed .fc-popover .fc-header, .fc-unthemed hr {
  background-color: #262626;
}

/* ////////////////////////////////////////////////////////////////////////////////// */
/* login/register */

.panel {
  background-color: #212121;
  max-width: 300px;
  width: 100%;
  margin: 30px auto;
  padding: 20px 5% 20px 5%;
  text-align: left;
}
.panel-heading {
  color: #2A89EB;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  padding-bottom: 20px;
}
.form-group {
  margin: 15px 0;
}
.form-group input[type=email], .form-group input[type=password], .form-group input[type=text] {
  text-align: left;
  width: 100%;
  height: 30px;
  font-size: 1.2em;
  color:#fff;
  background-color: transparent;
  border: none;
  border-bottom: 1px white solid;
}
.form-group input:focus {
  outline:  none;
  border-bottom: 2px #2A89EB solid;
}
.form-group button {
  background-color: #2A89EB;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  padding: 15px 15px;
  border-radius: 10px;
}
.form-group a {
  margin-left: 10px;
  color: white;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}
.form-group a:visited {
  color: white;
}
.form-group a:hover {
  color: #73b3f2;
}
.form-group a:active {
  color: #2A89EB;
}

/* Single */

.title {
  margin: 25px auto;
}
.title h1{
  text-transform: uppercase;
  font-size: 2em;
  color: #2A89EB;
  text-align: center;
}
.detail-part {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 90%;
  margin: 0 auto;
}
.detail-part img {
  max-width: 300px;
  max-height: 427px;
  border-radius: 5px;
}
.detail-part .detail {
  padding: 50px 0;
  margin-left: 5%;
}
.detail-part .detail li {
  display: flex;
  flex-direction: row;
}
.detail-part .detail .detail-content {
  display: block;
  width: 30%;
}
.detail-part .detail .detail-entitled {
  /* display: block; */
  max-width: 100px;
  min-width: 100px;
  float: left;
  margin-right: 5%;
}
.rate {
  justify-content: center;
  width: 40%;
  margin: 10px auto;
}
.rate h3 {
  font-size: 1.5em;
  text-transform: uppercase;
  color: #2A89EB;
}
.plot {
  margin: 10px auto;
  width: 76%;
  background-color: #262626;
  border-radius: 10px;
  text-align: center;
  padding: 2%;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.plot h3 {
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  color: #2A89EB;

}

.comment {
  margin: 20px auto;
  width: 80%;
  justify-content: center;
}
.comment h3 {
  font-size: 1.5em;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 0;
  color: #2A89EB;
}
.comment .comment-list p {
  background-color: #262626;
  min-height: 100px;
  border-radius: 10px;

}

.comment-list {
}

.detail-entitled {
  font-weight: bold;
  text-transform: uppercase;
}

/* Profile */

.profile-head {
  width: 80%;
  margin: 30px auto;
  justify-content: center;
  text-align: center;
}
.profile-head h1 {
  font-size: 2em;
  font-weight: bold;
  color: #2A89EB;
}
.profile-head .profile-button input[type=button] {
  background-color: #2A89EB;
  color: white;
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: bold;
  border: none;
  padding: 2%;
  border-radius: 10px;
  margin: 2% auto;
}
.profile-head .profile-description {
  width: 100%;
  min-height: 150px;
  text-align: center;
}
.profile-menu, .setting-menu {
  background-color: #262626;
  width: 80%;
  margin: 0 auto;
}
.profile-menu ul, .setting-menu ul {
  display: flex;
  flex-direction: row;
  margin: 0 5%;
  justify-content: center;
}
.profile-menu ul li, .setting-menu ul li {
  margin: 0 5%;
}
.profile-menu ul li a, .setting-menu ul li a, .profile-friend ul li a {
  margin-left: 10px;
  color: white;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}
.profile-menu ul li a:visited, .setting-menu ul li a:visited, .profile-friend ul li a:visited {
  color: white;
}
.profile-menu ul li a:hover, .setting-menu ul li a:hover, .profile-friend ul li a:hover {
  color: #73b3f2;
}
.profile-menu ul li a:active, .setting-menu ul li a:active, .profile-friend ul li a:active {
  color: #2A89EB;
}
.profile-favorite, .profile-rating {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px 0;
}
.profile-friend ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.profile-friend ul li {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.setting-content, .profile-friend, .profile-description {
  width: 80%;
  background-color: #262626;
  margin: 20px auto;
  padding: 20px 0;
  justify-content: center;
}
.profile-info {
  width: 80%;
  margin: 20px auto;
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  min-height: 200px;
}
.section-detail {
  width: 45%;
  background-color: #262626;
  padding: 2% 2%;
  margin-right: 2.5%
}
.section-contact {
  width: 45%;
  background-color: #262626;
  padding: 2% 2%;
  margin-left: 2.5%
}
.setting-content form {
  display: flex;
  flex-direction: column;
}
.form-setting {
  width: 100%;
}
.setting-content label {
  display: block;
  width: 15%;
  float: left;
  margin-left: 20%;
}
.setting-content input, .setting-content select, .setting-content textarea {
  display: block;
  width: 45%;
}
.setting-content .visual-avatar {
  text-align: center;
  margin: auto;
}
.setting-content input[type=submit], .setting-content input[type=button] {
  background-color: #2A89EB;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  padding: 15px 15px;
  border-radius: 10px;
  width: 150px;
  margin: 10px auto 0;
}

/* Responsive */

@media (max-width: 707px) {

  /* Single */

  .detail-part {
    display: flex;
    flex-direction: column;
  }

  .detail-part .detail-poster {
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    justify-content: center;
  }
  .detail-part .detail {
    width: 90%;
    padding: 2%;
    margin: 10px auto;
  }

  /* Profile */

  .profile-head .profile-button {
    display: flex;
    flex-direction: column;
  }
  .profile-friend ul {
    display: flex;
    flex-direction: column;
  }
  .profile-info {
    margin: 0 10%;
    display: flex;
    flex-direction: column;
  }
  .section-detail {
    width: 96%;
    margin-bottom: 10px;
    margin-right: 0;
    float: none;
  }
  .section-contact {
    width: 96%;
    margin-top: 10px;
    margin-left: 0;
    float: none;
  }
  .form-setting {
    display: flex;
    flex-direction: column;
  }
  .setting-content label {
    margin: 5px 5%;
    width: 90%
  }
  .setting-content input, .setting-content select, .setting-content textarea {
    width: 90%;
    margin: 5px 5%;
  }
  .profile-menu ul, .setting-menu ul {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .bandeau {
    font-size: 1em;
  }


}
