/* Le footer */
footer {
  background-color: #262626;
  height: 200px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

footer #footer-bottom {
  position: absolute;
  bottom: 0;
}
footer #footer-bottom .social-network {
  display: block;
  width: 20%;
  min-width: 200px;
  margin-left: 40%;
}
footer #footer-bottom .social-network ul li{
  margin: 0 1.5%;
}
footer #footer-bottom .social-network ul li svg{
  width: 20px;
  height: 20px;
}

footer #footer-bottom ul{
  display: flex;
  flex-direction: row;
}
footer #footer-bottom ul li{
  margin: 0 2%;
}
footer #footer-bottom ul li a {
  /* text-transform: uppercase; */
  font-size: 1em;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}
footer #footer-bottom ul li a, footer #footer-bottom ul li a:visited {
  color: white;
}
footer #footer-bottom ul li a:hover {
  color: #73b3f2;
  cursor: pointer;
}
footer #footer-bottom ul li a:active {
  color: #2A89EB;
}

footer #footer-bottom {
  display: flex;
  flex-direction: row;
  background-color: #212121;
  height: 50px;
  line-height: 50px;
}
footer #footer-bottom .copyright {
  font-size: 0.75em;
  width: 40%;
  text-align: left;
  margin-left: 2%;
}

/* -le Responsive- */
@media (max-width: 835px) {



  footer {
    width: 100%;
    min-width: 300px;
    /* overflow: hidden; */
  }
  footer #footer-top {
    height: 140px;
    width: 100%;
  }
  footer #footer-bottom {
    height: 60px;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  footer #footer-bottom .copyright {
    width: 100%;
    line-height: 25px;
    margin: 0;
  }
  footer #footer-bottom .copyright ul {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
  }
  footer #footer-bottom .social-network {
    width: 100%;
    line-height: 35px;
    margin: 0 auto;
  }
  footer #footer-bottom .social-network ul{
    width: 50%;
    margin: 0 auto;
    justify-content: center;
    border-top: 2.5px #2D2D2D solid;
  } 
  footer #footer-bottom .copyright ul li, footer #footer-bottom .social-network ul li{
    margin: 0 2%;
  }

}
