/* Le footer */
footer {
  background-color: #262626;
  height: 200px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}


footer #footer-top {
  display: flex;
  flex-direction: row;
  border-bottom: 2.5px #2D2D2D solid;
  height: 50px;
  line-height: 50px;
}

footer #footer-top .contact-button {
  display: block;
  border-bottom: 2.5px #2D2D2D solid;
  height: 150px;
}
footer #footer-bottom .social-network {
  display: block;
  width: 20%;
  min-width: 200px;
  margin-left: 40%
}
footer #footer-bottom .social-network ul li{
  margin: 0 1.5%;
}
footer #footer-bottom .social-network ul li svg{
  width: 20px;
  height: 20px;
}

footer #footer-bottom ul{
  display: flex;
  flex-direction: row;
}
footer #footer-bottom ul li{
  margin: 0 2%;
}
footer #footer-bottom ul li a {
  /* text-transform: uppercase; */
  font-size: 1em;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}
footer #footer-bottom ul li a, footer #footer-bottom ul li a:visited {
  color: white;
}
footer #footer-bottom ul li a:hover {
  color: #73b3f2;
  cursor: pointer;
}
footer #footer-bottom ul li a:active {
  color: #2A89EB;
}

footer #footer-bottom {
  display: flex;
  flex-direction: row;
  background-color: #212121;
  height: 50px;
  line-height: 50px;
}
footer #footer-bottom .copyright {
  font-size: 0.75em;
  width: 40%;
  text-align: left;
}

/* -le Responsive- */
@media (max-width: 835px) {


  footer #footer-top {
    display: flex;
  }
  footer #footer-top .center {
    display: none;
  }
  footer #footer-top .contact-button, footer #footer-top .social-network {
    width: 100%;
    height: 50px;
  }
  footer #footer-top .contact-button {
    justify-content: center;
    border-top: 2.5px #2D2D2D solid;
  }
  footer #footer-bottom {
    margin: 0;
  }
  footer #footer-bottom .copyright ul li, footer #footer-bottom .social-network ul li{
    margin: 0 0.75%;
  }

}
