#wrapper {
  max-width:;
  width:100%;
  margin: 0 auto;
}

/* Le main et son contenu */
main {
  max-width: 1300px;
  margin: auto;
  height: 100%;
  padding-bottom: 250px;
}

#trailer {
  width: 70%;
  margin: 20px auto;
}
/* Submit movie */

#submitmovie {
  margin: 30px 2px;
}
#submitmovie-content {
  width: 75%;
  background: #212121;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
#submitmovie-content form {
  margin: 20px;
}
#submitmovie-content .alert.alert-success {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  background: #99ff99;
  color: #009933;
  font-weight: bold;
  border-radius: 10px;
}
#submitmovie-content .alert.alert-danger {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  background: #ffb3b3;
  color: #ff0000;
  font-weight: bold;
  border-radius: 10px;
}
#submitmovie-content form .alert-error {
  color: #ff0000;
  margin-top: 10px;
  margin-bottom: -10px;
}
#submitmovie-content form input[type="text"], #submitmovie-content input[type="date"], #submitmovie-content select, #submitmovie-content textarea {
  text-align: left;
  font-family: "roboto";
  width: 100%;
  height: 30px;
  font-size: 1.2em;
  color:#fff;
  background-color: transparent;
  border: none;
  border-bottom: 1px white solid;
}
#submitmovie-content textarea {
  height: auto;
}
#submitmovie-content form input:focus, #submitmovie-content textarea:focus, #submitmovie-content select:focus {
  outline:  none;
  border-bottom: 2px #2A89EB solid;
}
#submitmovie-content form input[type="submit"] {
  margin: 20px auto 0;
  max-width: 100px;
  background-color: #2A89EB;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  padding: 15px 15px;
  border-radius: 10px;
}

#submitmovie nav ul {
  display: flex;
  text-align: center;
  margin: auto;
  width: 75%
}
#submitmovie nav ul li {
  padding: 2%;
  background: #333;
  margin: 0 1% 0 0;
  width: 20%;
  min-width: 75px;
  height: auto;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
#submitmovie nav ul li.active {
  background: #212121;
}
#submitmovie nav ul li a {
  color: white;
}


/* Home */

.rwd-trailer {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.rwd-trailer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); */
  border-radius: 5px;
}


.affiches {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.affiche {
  background-color: #212121;
  height: 360px;
  width: 300px;
  margin: 15px
}
.affiche img{
  height: 380px;
  width: 300px;
}
.affiche img:hover{
  opacity: 0.2;
  filter: alpha(opacity=50);
  transform: scale(1);
}
#movies-list-profile {
  width: 80%;
  margin: auto;
}
#movies-list-profile ul {
  padding-left: 40px;
}
#movies-list-profile ul li {
  /* padding-left: 40px; */
  margin: 10px;
  list-style-type: disc;
}
#movies-list-profile ul li a {
  color: white;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}
#movies-list-profile ul li a:visited {
  color: white;
}
#movies-list-profile ul li a:hover {
  color: #73b3f2;
}
#movies-list-profile ul li a:active {
  color: #2A89EB;
}

div.titre {
  text-align: center;
  background-color:#0b4075;
  width: 300px;
  height: 50px;
  margin: -8px;
  margin-left: 0px;
  border:2px solid #0b4075;
}

/* bandeaux */

.bandeau {
  background-color: #09335d;
  background-image: -webkit-linear-gradient(left, #663DB7, #09335d);
  background-image: -moz-linear-gradient(left, #663DB7, #09335d);
  background-image: -o-linear-gradient(left, #663DB7, #09335d);
  background-image: -ms-linear-gradient(left, #663DB7, #09335d);
  background-image: linear-gradient(left, #663DB7, #09335d);
  min-height: 70px;
  width: 100%;
  text-align: center;
  padding: 10px 0 10px 0;
  /* line-height: 70px; */
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bandeau h2{
  text-transform: uppercase;
  font-size: 2em;
  font-weight: bold;
  /* text-align: center; */
}

.bandeau-calendar h2{
  font-size: 1.2em;
}

.bandeau-calendar{
  margin-bottom: 20px;
}

.bandeau2 {
  /* background-color: #212121; */
  min-height: 70px;
  width: 97%;
  margin: 50px auto 0;
  text-align: center;
  padding: 10px 0 10px 0;
  /* line-height: 70px; */
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
}

.bandeau2 h2 {
  text-transform: uppercase;
  font-family: 'Orbitron';
  font-size: 1.5em;
  border-bottom: 3px solid white;
  color: white;
  border-radius: 10%;
  width: 40%;
  margin: auto;
  font-weight: bold;

}



/*bandeau trailer*/
.bandeau-trailer {
  text-transform: uppercase;
  font-family: 'Orbitron';
  font-size: 1.5em;
  height:40px;
  text-align: center;
  line-height: 70px;
  font-weight: bold;
  /* box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); */
  border-radius: 5px;

}

.bandeau-trailer h2{
  position: relative;
  text-align: center;
  font-size: 0.8em;
  top:-23px;
}

div#trailer {
  background-color:#212121;
  padding: 28px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  border-radius: 5px;
  margin-top: 42px;
}


/* ////////////////////////////////////////////////////////////////////////////////// */
/* Calendar styles */

.calendrier {
  max-width: 900px;
  margin: auto;
}

.calendrier .fc-unthemed td{
  border-color: black;
}

.calendrier .fc-unthemed th{
  border-color: black;
}

.calendrier th {
  background-color: #212121;
}

.calendrier td {
  background-color: #2d2d2d;
}

/* CASE D'AUJOURD'HUI */
.fc-unthemed td.fc-today {
    background-image: -webkit-linear-gradient(top, #663DB7, #3F3991);
    background-image: -moz-linear-gradient(top, #663DB7, #3F3991);
    background-image: -o-linear-gradient(top, #663DB7, #3F3991);
    background-image: -ms-linear-gradient(top, #663DB7, #3F3991);
    background-image: linear-gradient(top, #663DB7, #3F3991);
}

.calendrier .fc-button-group .fc-agendaWeek-button, .fc-agendaDay-button, .fc-today-button, .fc-month-button {
  display: none;
}

.calendrier .fc-center h2 {
  font-size: 1.5em;
}

/* popup day calendar */
.calendrier .fc-widget-content{
  background-color: #262626;
}
.calendrier .fc-unthemed .fc-popover .fc-header, .fc-unthemed hr {
  background-color: #262626;
}

/* ////////////////////////////////////////////////////////////////////////////////// */
/* login/register */

.panel {
  background-color: #212121;
  max-width: 300px;
  width: 100%;
  margin: 30px auto;
  padding: 20px 5% 20px 5%;
  text-align: left;
}
.panel-heading {
  color: #2A89EB;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  padding-bottom: 20px;
}
.form-group {
  margin: 15px 0;
}
.form-group input[type=email], .form-group input[type=password], .form-group input[type=text] {
  text-align: left;
  width: 100%;
  height: 30px;
  font-size: 1.2em;
  color:#fff;
  background-color: transparent;
  border: none;
  border-bottom: 1px white solid;
}
.form-group input:focus {
  outline:  none;
  border-bottom: 2px #2A89EB solid;
}
.form-group button {
  background-color: #2A89EB;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  padding: 15px 15px;
  border-radius: 10px;
}
.form-group a {
  margin-left: 10px;
  color: white;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}
.form-group a:visited {
  color: white;
}
.form-group a:hover {
  color: #73b3f2;
}
.form-group a:active {
  color: #2A89EB;
}

/* Single */

.title {
  margin: 25px auto;
}
.title h1{
  text-transform: uppercase;
  font-size: 2em;
  color: #2A89EB;
  text-align: center;
}
.detail-part {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 90%;
  margin: 0 auto;
}
.detail-part img {
  max-width: 300px;
  max-height: 427px;
  border-radius: 5px;
}
.detail-part .detail {
  padding: 50px 0;
  margin-left: 5%;
}
.detail-part .detail li {
  display: flex;
  flex-direction: row;
}
.detail-part .detail .detail-content {
  display: block;
  width: 30%;
}
.detail-part .detail .detail-entitled {
  /* display: block; */
  max-width: 100px;
  min-width: 100px;
  float: left;
  margin-right: 5%;
}

#list-and-rating {
  background-color: #262626;
  margin: 10px 5% 20px;
  width: 85%;
  border-radius: 10px;
  padding: 10px 0;
  padding-left: 5%;
  display: flex;
  flex-direction: row;
}
#list-and-rating select, #list-and-rating button, #list-and-rating input[type="submit"] {
  margin: 0 auto;
  max-width: 200px;
  background-color: #653CB6;
  color: white;
  font-weight: bold;
  border: none;
  padding: 5px 5px;
}
#list-and-rating select {
  margin-right: 5px;
}
#list-and-rating input[type="submit"] {
  margin-left: 5px;
  margin-right: 10px;
}
#list-and-rating select:focus, #list-and-rating input:focus {
  outline:  none;
}
#list-and-rating button {
  margin-left: 5px;
  margin-right: 5px;
}

.rate {
  justify-content: center;
  width: 40%;
  margin: 10px auto;
}
.rate h3 {
  font-size: 1.5em;
  text-transform: uppercase;
  color: #2A89EB;
}
.plot {
  margin: 10px auto;
  width: 76%;
  background-color: #262626;
  border-radius: 10px;
  text-align: center;
  padding: 2%;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.plot h3 {
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  color: #2A89EB;

}

.comment {
  margin: 20px auto;
  width: 80%;
  justify-content: center;
}
.comment h3 {
  font-size: 1.5em;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 0;
  color: #2A89EB;
}
.comment form textarea {
  background-color: #262626;
  border: none;
  width: 96%;
  padding: 2%;
  color: white;
  border-radius: 10px;
}
.comment form textarea:focus {
  outline:  none;
}
.comment form input[type="submit"] {
  margin: 10px auto;
  background-color: #653CB6;
  color: white;
  font-weight: bold;
  border: none;
  padding: 5px 5px;
}
.comment .comment-list h4 {
  border-bottom: 1px white solid;
}
.comment .comment-list span {
  color: #2A89EB;
  font-size: 1.5em;
}
.comment .comment-list p {
  margin-top: 10px;
}
.comment-list {
  margin: 20px auto;;
  min-height: 100px;
  border-radius: 10px;
  background-color: #262626;
  padding: 10px;
}

.detail-entitled {
  font-weight: bold;
  text-transform: uppercase;
}

/* Profile */

.profile-head {
  width: 80%;
  margin: 30px auto;
  justify-content: center;
  text-align: center;
}
.profile-head h1 {
  font-size: 2em;
  font-weight: bold;
  color: #2A89EB;
}
.profile-menu {
  background-color: #262626;
  width: 80%;
  margin: 0 auto;
}
.profile-menu ul {
  display: flex;
  flex-direction: row;
  margin: 0 5%;
  justify-content: center;
  list-style: none;
}


/*  button return top*/
#return-to-top  {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 1000;
    padding:
    bottom: 20px;
   right: 20px;
   /* background: rgb(0, 0, 0); */
   background: #653CB6;
   width: 50px;
   height: 50px;
   display: block;
   text-decoration: none;
   -webkit-border-radius: 35px;
   -moz-border-radius: 35px;
   border-radius: 35px;
   display: none;
   -webkit-transition: all 0.3s linear;
   -moz-transition: all 0.3s ease;
   -ms-transition: all 0.3s ease;
   -o-transition: all 0.3s ease;
   transition: all 0.3s ease;
}
#return-to-top:hover {
    background:  #583BA9;
}

.icon-chevron-up:before {
  color:#fff;
  padding: 17px;
}
/* Responsive */

@media (max-width: 707px) {

  /* Single */

  .grid figure img{
    display: inline;
  }
  .grid figure {
    min-width: 50px;
  }

  /* Single */

  .detail-part {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
  }

  .detail-part .detail-poster {
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    justify-content: center;
  }
  .detail-part .detail {
    width: 90%;
    padding: 2%;
    margin: 10px auto;
  }

  #list-and-rating {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  #list-and-rating select {
    margin-right: 0;
    margin-bottom: 5px;
  }
  #list-and-rating input[type="submit"] {
    margin-left: 0;
    margin-top: 5px;
  }
  #list-and-rating button {
    margin: 5px auto;
  }

  .bandeau {
    font-size: 1em;
  }

  /* Calendar styles */

  .calendrier {
    margin: auto 5%;
    max-width: 600px;
    min-width: 270px;
  }

}
@media (max-width: 319px) {
  div#trailer {
    width: 100%;
    min-width: 50px;
    padding: 5px 0;
    margin: 10px 0;
    text-align: center;
  }
  .grid figure img {
    width: 100%;
    height: 100%;
    min-width: 50px;
    min-height: 75px;
  }
  footer #footer-top div.presentation h3 {
    font-size: 0.5em;
  }
  footer #footer-bottom div.social-network ul li svg {
    width: 10px;
    height: 10px;
  }
  footer #footer-bottom div.social-network ul {
    margin: 0;
  }
  header #top-menu div.social-network ul li svg {
    width: 10px;
    height: 10px;
  }
  header #top-menu div.social-network, header #top-menu div.social-network ul {
    width: 100%;
    min-width: 50px;
  }
}
