html {
  height: 100%;
}

body {
  background-color: #2D2D2D;
  color: white;
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

#wrapper {
  /* width: 100%; */
  min-height: 100%;
  margin: 0 auto;
  background-color: #2D2D2D;
  position: relative;
}

/* Le header */
header {
  background-color: #212121;
  min-height: 100px;
}
header h1 {
  text-transform: uppercase;
  font-size: 2em;
  color: #2A89EB;
  line-height: 70px;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
}
header #top-menu {
  display: flex;
  flex-direction: row;
  border-bottom: 2.5px #2D2D2D solid;
  padding: 10px 0;
  height: 40px;
  text-align: right;
}

header #top-menu .social-network {
  display: flex;
  flex-direction: row;
  border-right: 2.5px #2D2D2D solid;
  padding-right: 55px;
  display: block;
}
header #top-menu .social-network ul li img{
  width: 40px;
  height: 40px;
  margin: 0 5px;
}
header #top-menu .log {
  margin-left: -55px;
}
header #top-menu .log ul li{
  margin: 0 10px;
  display: inline-block;
}
header nav ul li button {
  display: inline-block;
  width: 110px;
}

header nav{
  width: 100%;
  display: block;
}
header nav ul{
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
header nav ul li a{
  text-transform: uppercase;
  font-size: 0.95em;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}
header nav ul li a, header nav ul li a:visited{
  color: white;
}
header nav ul li a:hover{
  color: #73b3f2;
}
header nav ul li a:active{
  color: #2A89EB;
}
header nav ul li a.active {
  color: #2A89EB;
}

header nav ul li button{
  background: none;
  color: white;
  border: none;
  text-transform: uppercase;
  font-size: 0.95em;
  font-family: 'Roboto', sans-serif;
}
header nav ul li button:hover{
  color: #73b3f2;
}

/*
 * La modale de connexion
 */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    /* height: 100%; /* Full height */ */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content/Box */
.modal-content {
    /* background-color: #fefefe; */
    margin: 10% auto; /* 15% from the top and centered */
    padding: 20px;
    /* border: 1px solid #888; */
    width: 80%; /* Could be more or less, depending on screen size */
    position: relative;
}
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;

}

/* Le main et son contenu */
main {
  max-width: 1400px;
  margin: auto;
  height: 100%;
  padding-bottom: 200px;
}

#trailer {
  width: 80%;
  margin: 20px auto;
}
.rwd-trailer {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.rwd-trailer iframe {
  box-shadow: 10px 10px 5px #1a1a1a;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.affiches {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.affiche {
  background-color: #212121;
  height: 380px;
  width: 300px;
  box-shadow: 10px 10px 5px #0d0d0d;
  margin: 15px;
}

/* login/register */

.panel {
  background-color: #212121;
  max-width: 300px;
  width: 100%;
  margin: 30px auto;
  padding: 20px 5% 20px 5%;
  box-shadow: 10px 10px 5px #0d0d0d;
}
.panel-heading {
  color: #2A89EB;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  padding-bottom: 20px;
}
.form-group {
  margin: 15px 0;
}
.form-group input[type=email], .form-group input[type=password], .form-group input[type=text] {
  text-align: left;
  width: 100%;
  height: 30px;
  font-size: 1.2em;
  color:#fff;
  background-color: transparent;
  border: none;
  border-bottom: 1px white solid;
}
.form-group input:focus {
  outline:  none;
  border-bottom: 2px #2A89EB solid;
}
.form-group button {
  background-color: #2A89EB;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  padding: 15px 15px;
  border-radius: 10px;
}
.form-group a {
  margin-left: 10px;
  color: white;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}
.form-group a:visited {
  color: white;
}
.form-group a:hover {
  color: #73b3f2;
}
.form-group a:active {
  color: #2A89EB;
}

/* Le footer */
footer {
  background-color: #262626;
  height: 200px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

/* -le Responsive- */
@media (max-width: 425px) {

  /* Le header */

    header {
      width: 100%;
      position: fixed;
      z-index: 99;
    }
    header h1 {
      font-size: 1.5em;
    }
    main {
      padding-top: 100px;
    }

  /* Le menu */

  .js{
    display: flex;
    flex-direction: row;
  }
  .js #menu {
		display:none;
	}

	.js .slicknav_menu {
		display:block;
	}
}
