


/* Le main et son contenu */
main {
  max-width: 1400px;
  margin: auto;
  height: 100%;
  padding-bottom: 250px;
}

#trailer {
  width: 80%;
  margin: 20px auto;
}
.rwd-trailer {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.rwd-trailer iframe {

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.affiches {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.affiche {
  background-color: #212121;
  height: 380px;
  width: 300px;

  margin: 15px;
}

.affiche img{
  height: 380px;
  width: 300px;
}

img:hover{
  opacity: 0.2;
  filter: alpha(opacity=50);
  transform: scale(1);
}

div.titre {
  text-align: center;
  background-color:#212121;
  width: 300px;
  height: 50px;

}

/* login/register */

.panel {
  background-color: #212121;
  max-width: 300px;
  width: 100%;
  margin: 30px auto;
  padding: 20px 5% 20px 5%;

  text-align: left;
}
.panel-heading {
  color: #2A89EB;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  padding-bottom: 20px;
}
.form-group {
  margin: 15px 0;
}
.form-group input[type=email], .form-group input[type=password], .form-group input[type=text] {
  text-align: left;
  width: 100%;
  height: 30px;
  font-size: 1.2em;
  color:#fff;
  background-color: transparent;
  border: none;
  border-bottom: 1px white solid;
}
.form-group input:focus {
  outline:  none;
  border-bottom: 2px #2A89EB solid;
}
.form-group button {
  background-color: #2A89EB;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  padding: 15px 15px;
  border-radius: 10px;
}
.form-group a {
  margin-left: 10px;
  color: white;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}
.form-group a:visited {
  color: white;
}
.form-group a:hover {
  color: #73b3f2;
}
.form-group a:active {
  color: #2A89EB;
}

/* Single */

.title {
  margin: 10px auto;
}
.title h1{
  text-transform: uppercase;
  font-size: 2em;
  color: #2A89EB;
  text-align: center;
}
.detail-part {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.detail-part .detail {
  width: 60%;
  padding: 50px 0;
}
.rate {
  justify-content: center;
  width: 40%;
  margin: 10px auto;
}
.rate h3 {
  font-size: 1.5em;
  text-transform: uppercase;
  color: #2A89EB;
}
.plot {
  margin: 10px auto;
  width: 90%;
  background-color: #262626;

  padding: 2%;
  min-height: 100px;
  justify-content: center;
}
.comment {
  margin: 20px auto;
  width: 90%;
  justify-content: center;
}
.comment h3 {
  font-size: 1.5em;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 0;
  color: #2A89EB;
}
.comment .comment-list p {
  background-color: #262626;

  min-height: 100px;
}

/* Responsive */

@media (max-width: 525px) {

  /* Single */

  .detail-part {
    display: flex;
    flex-direction: column;
  }
  .detail-part .detail {
    width: 90%;
    padding: 2%;
    margin: 10px auto;
  }

}
